@use 'abstracts/variables';
@use 'base/reset';
@use 'base/grid' as *;
@use 'base/typography';
@use 'base/forms';
@use 'components/nav';
@use 'components/button';
@use 'components/notification';
@use 'utility/utils';

/* Site Specific */

img {
  max-height: 300px;
}

@include min-tablet() {
  img {
    max-height: 500px;
  }
}

section.bg-color {
  background: var(--bg-section);
}

.btn-primary {
  width: 150px;
  text-align: center;
  line-height: 1.5;
}

@include min-tablet() {
  .equal-widths,
  .one-two-thirds,
  .two-one-thirds,
  .one-three-fourths  {
    align-items: flex-end;
  }
}

.columns > h2 {
  text-align: center;
  margin-bottom: var(--margin-base);
  width: 100%;
}

.columns > h2 + p {
  margin-top: 0;
}

.section-image {
  padding: var(--padding-base);
}

.section-image img {
  width: 100%;
}


@include min-desktop() {
  .section-image {
    padding-block: 0;
  }
}

/* Section: Hero */

.Typewriter__cursor {
  font-weight: 400;
}

#hero {
  transition: 1s height ease-in;
}

#hero h1 {
  min-height: calc(2 * var(--fs-900) + 1 * var(--fs-700));
}

#hero::before {
  content: "";
  height: var(--header-height);
  display: block;
  margin-top: calc(0 - var(--header-height))
}

#hero .btn-primary {
  margin-inline: auto;
  margin-top: var(--margin-base);
}

@include min-tablet() {
  #hero .btn-primary {
    margin-inline: 0;
  }

  #hero .section-content p {
    text-align: left;
  }
}

/* Section: Who we are */

@include min-tablet() {
  #who-we-are .section-content p {
    text-align: left;
  }
}


.service-title {
  text-align: center;
  font-weight: 600;
}

.service-block {
  padding: var(--padding-base);
  min-width: 200px;
}

.service-content {
  font-size: var(--fs-300);
  text-align: center;
}

.service-img {
  margin-inline: auto;
  margin-bottom: var(--margin-base);
  max-height: 200px;
}

.service-img > img {
  object-fit: cover;
}

@include min-tablet() {
  .service-title {
    min-height: calc(2.5 * var(--fs-400));
  }
}

@include min-desktop() {
  .service-title {
    min-height: unset;
  }
}

/* Section: What we do  */

@include min-tablet() {
  #what-we-do .quad-widths {
    margin-top: var(--margin-base);
    align-items: flex-start;
  }
}

.speciality {
  padding: var(--padding-base);
  font-size: var(--fs-300);
  font-weight: 500;
  margin-bottom: calc(0.5 * var(--margin-base));
}

.speciality:nth-of-type(1) {
  background: var(--clr-bg-1);
}

.speciality:nth-of-type(2) {
  background: var(--clr-bg-2);
}

.speciality:nth-of-type(3) {
  background: var(--clr-bg-3);
  // color: var(--clr-white);
}


/* Section: Testimonial */

.glide__arrows {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.glide__arrow > img {
  width: 24px;
  height: 24px;
}

.glide__arrow--prev {
  background: transparent;
  color: var(--clr-primary);
}
.glide__arrow--next {
  background: transparent;
  color: var(--clr-primary);
}

.testimonial-block {
  text-align: center;
  background: var(--clr-white);
  padding: var(--padding-base);
  box-shadow: var(--header-box-shadow);
  border-radius: var(--border-radius-base);
  margin-top: var(--margin-base);
}

.testimonial-title {
  font-weight: 900;
  font-size: var(--fs-500);
  margin-block: var(--margin-base);
  line-height: var(--fs-700);
}

.testimonial-quote {
  font-size: var(--fs-400);
  border-radius: var(--border-radius-base);
  padding: var(--padding-base);
  // font-style: italic;
  font-weight: 400;
  text-align: justify;
  max-width: 60rem;
  margin-inline: auto;
}

.testimonial-quote::before {
  content: "\201C";
}

.testimonial-quote::after {
  content: "\201D";
}

.testimonial-author {
  margin-top: var(--margin-base);
  font-weight: 600;
}

.testimonial-author-designation {
  font-size: var(--fs-300);
  text-align: center;
}

/* Section: Get In Touch */

.contact-links a {
  color: var(--clr-primary);
  font-weight: 600;
  text-decoration: none;
}

.social-icons {
  padding-block: var(--padding-base);
}

.social-icons ul {
  display: flex;
  gap: var(--spacing-base);
}

.social-icons img {
  background: transparent;
  padding: 0;
  border: 0;
}

#get-in-touch .section-image img {
  max-height: 400px;
}

/* Section: Join Us */


#join-us .columns {
  align-items: center;
}

.honeypot {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: -2
}

/* Footer */

footer {
  background: var(--clr-text);
  padding: var(--padding-base);
  color: var(--clr-white);
}

.footer-content {
  font-size: calc(0.92 * var(--fs-300));
  text-align: center;
  width: 100%;
}

