%notification {
  position: fixed;
  display: none;
  top: calc(var(--header-height) + var(--margin-base));
  right: var(--margin-base);
  max-width: var(--max-container-width);
  padding: var(--padding-base);
  border-radius: var(--border-radius-base);
  text-align: center;
  transition: display 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.notification-success {
  @extend %notification;
  background: var(--clr-success);
  color: var(--clr-white);
}

.notification-warning {
  @extend %notification;
  background: var(--clr-warning);
  color: var(--clr-text);
}

